# Loading Dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,roc_auc_score,roc_curve,auc, accuracy_score, classification_report

# Loading data

In [3]:
data = pd.read_csv('jojo-stands.csv', encoding='latin1')

In [4]:
data.head()

            Stand PWR SPD RNG PER PRC DEV
0          Anubis   B   B   E   A   E   C
1            Atum   D   C   D   B   D   D
2          Bastet   E   E   B   A   E   E
3           Cream   B   B   D   C   C   D
4  Death Thirteen   C   C   E   B   D   B

In [5]:
data.tail()

                      Stand PWR SPD   RNG PER PRC DEV
151        Nightbird Flying   E   A     A   A   E   E
152  Purple Haze Distortion   A   B     E   E   C   A
153    Rainy Day Dream Away   E   B     A   A   E   E
154          Remote Romance   E   D  Infi   B   C   E
155           House of Holy   E   B     C   A   D   D

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Stand   156 non-null    object
 1   PWR     139 non-null    object
 2   SPD     150 non-null    object
 3   RNG     147 non-null    object
 4   PER     155 non-null    object
 5   PRC     149 non-null    object
 6   DEV     147 non-null    object
dtypes: object(7)
memory usage: 8.7+ KB

In [ ]:
data.describe()

                Stand  PWR  SPD  RNG  PER  PRC  DEV
count             156  139  150  147  155  149  147
unique            154    6    6    6    6    6    6
top     Echoes (ACT3)    E    B    A    A    E    E
freq                2   34   41   38   85   56   41